<html>


<body>
<form action="/register" METHOD=POST>
firstname<input type=text name=firstname><br>
lastname<input type=text name=lastname><br>
username<input type=text name=username><br>
password<input type=password name=password><br>
<input type=submit>
</form>

</body>



